<div class="call-to-action">
  <div class="prompt<% if (@thanks) %> hidden<% end%>">
    <h3>Want more happy encounters in your life?</h3>
    <p class="lead">Let us know and we’ll add you to our invite list.</p>
    <form method="post" action="/signups" class="form-inline" >
      <input type="email" name="email" required placeholder="enter@email.com" class="input-xlarge">
      <input type="submit" value="Get Invited!" class="btn btn-large">
    </form>
  </div>
  <% if (@thanks) %>
  <div class="alert fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h3>Thank You! Want Priority Access?</h3>
    <p class="lead">Get early access by inviting at least 3 friends. The more friends you invite, the sooner you'll get access :)</p>
    <p class="lead">Just copy/paste the URL below into Twitter, Facebook or in an e-mail:</p>
    <p class="viral-url text-center">http://discoverambient.com/4yc3Xf</p>
  </div>
  <% end %>        
</div>