<% @title = "Discover Ambient" %>

<div class="container">

  <!-- <div class="masthead">
    <div class="nav pull-right">
      <a href="http://www.facebook.com/pages/Discover-Ambient/551542751556743" target=_"blank" title="Follow us on Facebook" class="icon icon-facebook-sign icon-2x"></a>
      <a href="http://twitter.com/discoverambient" target=_"blank" title="Follow us on Twitter" class="icon icon-twitter-sign icon-2x"></a>       
    </div>
  </div> -->

  <div class="jumbotron">
    <img src="img/ambient-logo.png" alt="ambient" class="logo pull-left">
    <div class="hero">
      <h1>Connect with the people around you</h1>    
      <!-- <p class="lead">We believe that chance encounters don't happen often enough. We all have met someone who, through a simple conversation sparked our interest, made our day or even changed the course of our lives. Yet every day thousands of similar connections do not happen simply because chance didn't have it's way. We think this is crazy and that's why we're building ambient.</p> -->
      <p class="lead clearfix">Remember that time you met someone who, through a simple conversation sparked your interest, made your day or changed the course of your life?</p>
      <p class="lead">What if this could happen every day?</p>
    </div>
    
    <%= erb(:call_to_action, :layout => false) %>
        
  </div>

  <div id="nearby" class="row-fluid feature">
    <div class="span6"><img src="img/nearby-screenshot.png"></div>
    <div class="span6 lead">
      <h2>Find out who's around you</h2>
      <p>ambient fuses the digital and the real world to provide you with useful, targeted context about the people around you. It's a bit like having little info-bubbles above people's heads.</p>
    </div>
  </div>

  <div id="profile" class="row-fluid feature">
    <div class="span6 lead">
      <h2>Discover unknown connections</h2>
      <p>Find out in what unknown and unexpected ways you are connected with the people around you. See if you like the same music, read the same books, have any common friends, interests and much more&hellip;</p>
    </div>
    <div class="span6 text-right"><img src="img/profile-screenshot.png"></div>
  </div>

  <div id="privacy" class="row-fluid feature">
    <div class="span6"><img src="img/skeleton.png"></div>
    <div class="span6 lead">
      <h2>Control what you share</h2>
      <p>We take privacy extremely seriously. You choose exactly what, when and with whom you share anything.</p>
    </div>
  </div>      

  <div id="catch-up" class="row-fluid feature">
    <div class="span6 lead">
      <h2>Catch up at your leisure</h2>
      <p>Yes, it’s great to connect with people, but not all the time.  Do so on your own terms, where and when you want.</p>
    </div>
    <div class="span6 text-right"><img src="img/chair.png"></div>
  </div>
  
  <%= erb(:call_to_action, :layout => false) %>  

</div>

<footer>
  <div class="container">
    <div class="row-fluid">
        <h3>Contact Us</h3>			
    </div>
  </div>

  <div id="footer-extra">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          &copy; 2013 ambient. All rights reserved.
        </div>	        
      </div>
    </div>
  </div>
</footer>