<% @title = "Discover Ambient" %>

<div class="container">

  <div class="masthead">
    <div class="nav pull-right">
      <a href="http://www.facebook.com/pages/Discover-Ambient/551542751556743" target=_"blank" title="Follow us on Facebook" class="icon icon-facebook-sign icon-2x"></a>
      <a href="http://twitter.com/discoverambient" target=_"blank" title="Follow us on Twitter" class="icon icon-twitter-sign icon-2x"></a>				
    </div>
  </div>

  <div class="jumbotron">
    <img src="img/ambient-logo.png" alt="ambient" class="logo">
    <h1>A new way to connect with the people around you.</h1>
    <p class="lead">Chance encounters happen.  But only by chance.  What if it were possible to make these connections happen more often by removing the element of chance?  How many times have we been sitting near someone who, through a simple conversation could spark our interest, make our day or even change the course of our lives?  Often enough, it seems.  Yet everyday thousands of these potential connections don’t happen, because ‘chance’ didn’t have it’s way.  That’s why we’re building ambient.</p>
  </div>

  <div class="call-to-action text-center">
    <form method="post" action="/signups" class="form-inline<% if (@thanks) %> hidden<% end%>" >
      <input type="email" name="email" required placeholder="enter@email.com" class="input-xlarge">
      <input type="submit" value="Get Invited!" class="btn btn-success btn-large">
    </form>
    <% if (@thanks) %>
    <div class="alert alert-block alert-success fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4 class="alert-heading">Thank You!</h4>
      <h5>Want Priority Access?</h5>
      <p>Get early access by inviting at least 3 friends. The more friends you invite, the sooner you'll get access :)</p>
      <p>Just copy/paste the URL below into Twitter, Facebook or in an e-mail:</p>
      <span class="viral-url input-xlarge uneditable-input">http://discoverambient.com/4yc3Xf</span>
    </div>
    <% end %>        
  </div>

  <hr>

  <div class="row-fluid feature">
    <div class="span6 text-center"><img src="img/nearby-screenshot.png"></div>
    <div class="span6 text-center lead">
      <h2>See who's around you</h2>
      <p>We paint little info-bubbles above people’s heads to provide useful context about the people around you right now.</p>
    </div>
  </div>

  <hr>

  <div class="row-fluid feature">
    <div class="span6 text-center lead">
      <h2>Discover unknown connections</h2>
      <p>We all have more in common with the world around us than we think.  Common friends, common interests.  See in what unknown and unexpected ways you are connected with the people around you.</p>
    </div>
    <div class="span6 text-center"><img src="img/profile-screenshot.png"></div>
  </div>

  <hr>

  <div class="row-fluid feature">
    <div class="span6 text-center"><img src="img/skeleton.png"></div>
    <div class="span6 text-center lead">
      <h2>Control what you share</h2>
      <p>We take privacy extremely seriously. You choose exactly what, when and with whom you share anything.</p>
    </div>
  </div>      

  <hr>

  <div class="row-fluid feature">
    <div class="span6 text-center lead">
      <h2>Catch up at your convenience</h2>
      <p>Yes, it’s great to connect with people, but not all the time.  Do so on your own terms, where and when you want.</p>
    </div>
    <div class="span6 text-center"><img src="img/chair.png"></div>
  </div>

  <hr>

  <div class="row-fluid feature">
    <div class="span6 text-center"><img src="img/trophy.png"></div>
    <div class="span6 text-center lead">
      <h2>Be the first one to know</h2>
      <p>We're working hard to fill people’s lives with serendipity but we're not quite there yet.  As soon as we are, we’ll let you know so that you can bring more serendipity to your life.  Sign up below.</p>
      <a class="btn btn-large btn-success" href="#">Get Invited</a>
    </div>
  </div>      

</div>

<footer>
  <div class="container">
    <div class="row-fluid">
        <h3>Contact Us</h3>			
    </div>
  </div>

  <div id="footer-extra">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          &copy; 2013 ambient. All rights reserved.
        </div>	        
        <div class="span6 text-right">
          <i class="icon-envelope"></i>&nbsp;<a href="mailto:info@discoverambient.com" alt="Email us!">info@discoverambient.com</a>
        </div>        
      </div>
    </div>
  </div>
</footer>