<% @title = "Discover Ambient" %>
<%= erb(:fb_tracking, :layout => false, :locals => { :pixel_id => settings.fb_tracking[:launch_page_visit]} ) %>

<div id="heading" class="container">

  <div class="jumbotron">
    <img src="img/ambient-logo.png" alt="ambient" class="logo pull-left">
    <div class="hero">
      <h1>Sparking serendipity</h1>    
      <p class="lead clearfix">Connect with people around you who spark your interest, make your day or even change the course of your life.</p>
    </div>
    
    <%= erb(:call_to_action, :layout => false) %>    
        
  </div>
</div>

<div id="feature-list">
  <div class="container">
    <div id="nearby" class="row-fluid feature">
      <div class="span6"><img src="img/nearby-screenshot.png"></div>
      <div class="span6 lead">
        <h2>Find out who's around you</h2>
        <p>Ambient fuses the digital and the real world in order to provide you with context about the people around you. It's a bit like having little info-bubbles hovering above people's heads.</p>
      </div>
    </div>

    <div id="profile" class="row-fluid feature">
      <div class="span6 lead">
        <h2>Discover unknown connections</h2>
        <p>Find out in what unknown and unexpected ways you are connected with the people around you. See if you like the same music, read the same books, have any common friends, interests and much more&hellip;</p>
      </div>
      <div class="span6 text-right"><img src="img/profile-screenshot.png"></div>
    </div>

    <div id="privacy" class="row-fluid feature">
      <div class="span6"><img src="img/skeleton.png"></div>
      <div class="span6 lead">
        <h2>Control what you share</h2>
        <p>We take privacy extremely seriously. You choose exactly what, when and with whom you share anything.</p>
      </div>
    </div>      

    <div id="catch-up" class="row-fluid feature">
      <div class="span6 lead">
        <h2>Catch up at your leisure</h2>
        <p>Yes, it’s great to connect with people, but not all the time.  Do so on your own terms, where and when you want.</p>
      </div>
      <div class="span6 text-right"><img src="img/chair.png"></div>
    </div>

    <%= erb(:call_to_action, :layout => false) %>  

    <%= erb(:send_message, :layout => false) %>  <!-- modal -->

  </div>
</div>



<footer>
  <div class="footer container">
    <div class="row-fluid">      
      <div class="span6">      
        <a href="#contact-us-modal" role="button" class="" data-toggle="modal">Get in touch</a>
      </div>
      <div class="span6 text-right">      
        <a href="http://www.facebook.com/pages/Discover-Ambient/551542751556743" target="_blank" title="Like our page on Facebook" class="icon icon-facebook"></a>
        <a href="http://twitter.com/discoverambient" target="_blank" title="Follow us on Twitter" class="icon icon-twitter"></a>
      </div>			          
    </div>    
  </div>

  <div id="footer-extra">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          &copy; 2013 ambient. All rights reserved.
        </div>	        
      </div>
    </div>
  </div>
</footer>