<% @title = "Discover Ambient" %>

<div class="container">

  <div class="masthead">
    <div class="nav pull-right">
      <a href="http://www.facebook.com/pages/Discover-Ambient/551542751556743" target=_"blank" title="Follow us on Facebook" class="icon icon-facebook-sign icon-2x"></a>
      <a href="http://twitter.com/discoverambient" target=_"blank" title="Follow us on Twitter" class="icon icon-twitter-sign icon-2x"></a>				
    </div>
  </div>

  <div class="jumbotron">
    <img src="img/ambient-logo.png" alt="ambient" class="logo">
    <h2>A new way to connect with the people around you.</h2>
    <p class="lead">We think that bumping into somebody by pure chance doesn't happen often enough. We've all enjoyed chance encounters. Friends, colleagues, even future husbands . But how often have we been sitting next to somebody else who had that same potential - and we simply didn't realise? Too often, we think, and that's why we're building ambient.</p>
  </div>

  <div class="text-center">
    <form method="post" action="/signups" class="form-inline">
      <input type="email" name="email" required placeholder="enter@email.com" class="input-xlarge">
      <input type="submit" value="Get Invited!" class="btn btn-success">
    </form>
  </div>

  <hr>

  <div class="row-fluid feature">
    <div class="span6"></div>
    <div class="span6 text-center">
      <h3>See Who's Around You</h3>
      <p>ambient fuses the digital and the real world by providing you with useful context about the people who are around you right now. Think of it as seeing little information bubbles painted above peoples' heads.</p>
    </div>
  </div>

  <hr>

  <div class="row-fluid feature">
    <div class="span6 text-center">
      <h3>Discover Unknown Connections</h3>
      <p>See in what unknown and unexpected ways you are connected with the people around you. Do you like the same music that this person over there is listening to right now? Are you reading the same book? Do you have any common friends? Do you speak the same language? And much, much more&hellip;</p>
    </div>
    <div class="span6"></div>
  </div>

  <hr>

  <div class="row-fluid feature">
    <div class="span6"></div>	
    <div class="span6 text-center">
      <h3>Control What You Share</h3>
      <p>We take privacy extremely seriously. Your information is only shared with the people who are in the same location at the same time. We never, ever reveal your exact location. Moreover, you are in complete control over what you want to share, when you want to share it and with whom.</p>
    </div>
  </div>      

  <hr>

  <div class="row-fluid feature">
    <div class="span6 text-center">
      <h3>Catch Up at Your Convenience</h3>
      <p>We know it's not always a good time for a bit of chitchat. That's why we let you see - whenever it suits you - people you've almost bumped into over the course of the day. Just to make sure you don't miss out on the opportunity to meet someone interesting.</p>
    </div>
    <div class="span6"></div>
  </div>

  <hr>

  <div class="row-fluid feature">
    <div class="span6"></div>	
    <div class="span6 text-center">
      <h3>Be the First one to know</h3>
      <p>We're working hard to flood this planet with serendipity but we're not quite there yet. We'll make sure, though, that you'll be the first one to one when we're ready to launch.</p>
      <a class="btn btn-large btn-success" href="#">Get Invited</a>
    </div>
  </div>      

</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>About Us</h3>						
        <h3>Contact Us</h3>			
      </div>		
    </div>
  </div>

  <div id="footer-extra">
    <div class="container">
      <div class="row">
        <div class="span12">
          &copy; 2013 ambient. All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>