<% @title = "Internal: Signups" %>
<% @internal = true %>

<div class="container">
	<div class="jumbotron">
		<h1>Internal Pages</h1>
		<li><a href="/internal/signups">Signup Page</a></li>
		<li><a href="/internal/messages">Messages</a></li>
	</div>
</div>