<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= @title %></title>
    <meta name="description" content="Connect with people around you who spark your interest, make your day or even change the course of your life.">
    <meta name="viewport" content="width=780">
    
    <% if(!@internal) %>
    <meta property="og:title" content="Discover Ambient"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="http://www.discoverambient.com"/>
    <meta property="og:image" content="http://www.discoverambient.com/img/ambient-avatar-1500x1500.png"/>
    <meta property="og:site_name" content="Discover Ambient"/>
    <meta property="fb:admins" content="559906567"/>
    <meta property="og:description" content="Remember that time you met someone who, through a simple conversation sparked your interest, made your day or even changed the course of your life? What if this could happen every day?"/>
    <% end %>

    <link rel="canonical" href="http://www.discoverambient.com" />    
    
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/css/vendor/font-awesome-ie7.min.css">
    <![endif]-->
        
    <style>
        body {
	        padding-top: 10px;
	        padding-bottom: 0;
        }
    </style>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300">        
    
	  <!--[if IE 7]>
  		<link href="/css/vendor/font-awesome-ie7.min.css" rel="stylesheet">
  	<![endif]-->	
    <link rel="stylesheet" href=<% if(@internal) %>"/css/internal.css"<% else %>"/css/main.css"<% end %>>

    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <%= yield %>
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vendor/retina.js"></script>    

    <script src="/js/main.js"></script>

    <script>
        var _gaq=[['_setAccount','UA-39214031-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
