<% @title = "Internal: Signups" %>

<div class="container">
	<div class="jumbotron">
		<h1>Signups</h1>
		<p class="lead">Total: <%= @signups.count %></p>
	</div>
	<div class="row-fluid">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="time">Time</th>
            <th>Email</th>
            <th>Referrals</th>            
          </tr> 
        </thead>
        <tbody>
    		  <% @signups.each do |signup| %>		
          <tr>
            <td class="time"><%= signup['_id'].generation_time%></td>
            <td><%= signup['email']%></td>
            <td><%= signup['referrals']%></td>            
          </tr>
  		    <% end %>
        </tbody>
        </table>
	</div>	
</div>