.hidden {
  display: none;
}

h1, h2, h3 {
  font-family: 'Satisfy', cursive;
}

hr {
  margin: 10px;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

.jumbotron {
  margin: 40px 0;
}

.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
  text-align: left;  
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.logo {
  margin-bottom: 25px;
}

.feature {
  margin: 40px 0;
}

a.icon  {
  color: #000;
}

a.icon:hover{
  text-decoration:none;    
}

/* --- call to action --- */

.call-to-action .prompt {  
  padding-top: 10px;
  padding-bottom: 25px;  
  background: #292727;
  margin-bottom: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;  
}

.call-to-action .prompt h3 {  
  font-family: inherit;  
  color: white;
  margin: 0;
}

.call-to-action .lead {
  font-size: 18px;
  font-style: italic;
  color: #999;
  margin-bottom: 10px;
}

input[class=input-xlarge] {
  width: 350px;
  height: 30px;
  line-height: 30px;
  padding: 8px 12px;
  font-size: 22px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large {
  line-height: 30px;
  padding: 8px 12px;
  font-size: 22px;
}

.form-inline {
  margin: 0;
}

.uneditable-input {
  cursor: auto;
}

.viral-url {
  margin-top: 10px;
}


/* --- footer --- */

footer {
  background: #292727;
  margin: 0;
  padding: 20px 0 0;
  color: #ccc
}
footer h3 {
  color: white;
  margin: 0 0 10px 0
}

#footer-extra {
  background: #1c1c1c;
  padding: 10px 0;
  font-size: .9em;
  color: #999
}
#footer-extra a {
  color: #999
}

/* --- internal --- */

td.time {
  width: 180px;
}

