.hidden {
  display: none;
}

h1, h2, h3 {
  font-family: 'Satisfy', cursive;
}

hr {
  margin: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.jumbotron {
  margin: 40px 0;
  text-align: center;
}

.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.logo {
  margin-bottom: 25px;
}

.feature {
  margin: 40px 0;
}

a.icon  {
  color: #000;
}

a.icon:hover{
  text-decoration:none;    
}

.viral-url {
  margin-top: 10px;
}

/* TWITTER BOOTSTRAP OVERRIDES */
.input-large {
  width: 210px;
  height: 44px;
  margin-bottom: 10px;
  line-height: 30px;
  padding: 11px 19px;
  font-size: 17.5px;
}

.uneditable-input {
  cursor: auto;
}

/* FOOTER */

footer {
  background: #292727;
  margin: 0;
  padding: 20px 0 0;
  color: #ccc
}
footer h3 {
  color: white;
  margin: 0 0 10px 0
}

#footer-extra {
  background: #1c1c1c;
  padding: 10px 0;
  font-size: .9em;
  color: #999
}
#footer-extra a {
  color: #999
}

/* INTERNAL SIGNUPS */
td.time {
  width: 180px;
}

